@page
@model Sunridge.Pages.Classifieds.Category.UpsertModel
@{
    ViewData["Title"] = "Upsert";
}
<br />
<br />
<table id="DT_load" class="table pb-3 table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/classifiedsCategory.js"></script>
}