@page
@model Sunridge.Pages.Admin.Reports.IndexModel
@using Sunridge.Utility
@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole(SD.AdminRole) || User.IsInRole(SD.OwnerRole))
{
    <div class="border backgroundWhite container mt-5 pt-3 pb-3">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary">Reports List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="Upsert" class="btn btn-primary mr-1 mb-2"><i class="fas fa-plus"></i>&nbsp;Create New</a>
                @if (User.IsInRole(SD.AdminRole))
                {
                    <a asp-page="/Admin/Dashboard" class="btn btn-success text-center float-right mb-1">Back to Admin Portal</a>
                }
                else
                {
                    <a asp-page="/Admin/Dashboard" class="btn btn-success text-center float-right mb-1">Back to Owner Portal</a>
                }
                <a asp-page="ClaimReportIndex" class="btn btn-primary mr-2 mb-1">Property Damage Or Claim Report</a>
            </div>
        </div>
        <br /> <br />
        <table id="DT_load" class="table pb-3 table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Form Type</th>
                    <th>Description</th>
                    <th>Listing Date</th>
                    <th>Resolved Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <hr />
        <h2 class="text-primary">Forms</h2>
        
        <br>
        <a href="\images\Forms\Sunridge-claim-form-fillable.pdf">Sunridge Claim Form</a>
    </div>
}
else
{
<div>
    <h1 class="danm-3ger">You must be logged in to view this page.</h1>
</div>
}
@section Scripts{
    <script src="~/js/report.js"></script>
}
