@page
@model Sunridge.Pages.ChatRoom.IndexModel
@using Sunridge.Utility
@using System.Linq;
@{
    ViewData["Title"] = "Index";
}

@*@if (User.IsInRole(SD.OwnerRole) || User.IsInRole(SD.AdminRole))
{
    <div class="container overflow-auto" style="height:500px" id="chatDiv">
        @if (Model.ChatRoomModelList != null)
        {
            @foreach (var item in Model.ChatRoomModelList)
            {
                <div border-radius:"5px">
                    <p>
                        @foreach (var user in Model.ApplicationUserList)
                        {
                            if (item.ApplicationUserId == user.Id)
                            {
                                @user.FullName
                            }
                        } : @item.Post
                    </p>
                </div>
            }
        }|
    </div>
    <form method="post" asp-action="Index" enctype="multipart/form-data">
        <div class="col-8 pt-3">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ChatRoomObj.Post"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="ChatRoomObj.Post" />
                    <span class="text-danger" asp-validation-for="ChatRoomObj.Post"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Send</button>
                </div>
            </div>
            @if (User.IsInRole(SD.AdminRole))
            {
            <div class="row">
                <div class="col-6">
                    <button asp-page-handler="clear" type="submit" class="btn btn-danger form-control">Remove</button>
                </div>
            </div>
            }
        </div>
    </form>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            
            var div = $("#chatDiv");
            div.scrollTop(div.prop("scrollHeight"));
        });

        var timer = setInterval(timerTick, 2000);

        var element = document.getElementById("chatDiv");
        element.scrollTop = element.scrollHeight;

        function timerTick() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    refreshPage();
                    window.scrollTo(0,document.body.scrollHeight);
                }
            }
            xmlhttp.open("GET", "/Index?", true);
            xmlhttp.send();
        }

        function refreshPage() {
            $('#chatDiv').load(document.URL + ' #chatDiv');
        }

    </script>
}*@

