@page
@model Sunridge.Pages.Admin.Owners.PasswordResetIndexModel
@using Sunridge.Utility

@{
    ViewData["Title"] = "PasswordResetIndex";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (User.IsInRole(SD.AdminRole) || User.IsInRole(SD.OwnerRole))
{
    <div class="border backgroundWhite container mt-5 pt-3 pb-3">
        <div class="row pl-2">
            <h2 class="pl-2 pt-2 text-primary">Reset Password for @Model.Owner.FullName</h2>
        </div>
        <hr />

        <form asp-action="PasswordResetIndex" method="post">
            <div class="col-8 pt-3 pl-3">
                <input type="hidden" asp-for="Owner.Id" />

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Owner.UserName"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="Owner.UserName" id="txtFirstName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="password">New Password</label>
                    </div>
                    <div class="col-9">
                        <input type="password" class="form-control" asp-for="password" id="txtFirstName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <button type="submit" class="btn btn-primary form-control">Submit</button>
                    </div>
                    <div class="col-md-6 my-2">
                        <a asp-page="./Index" type="submit" class="btn btn-success form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
else
{
<h1>You must be logged in to view this page.</h1>
}
