@page
@using Sunridge.Utility
@if (User.IsInRole(SD.AdminRole))
{
    <div class="border backgroundWhite container mt-5 pt-3 pb-3">
        <div class="row">
            <div class="col-6 mt-3">
                <h2 class="text-primary">Key History List</h2>
            </div>
            <div class="col-6 text-right mt-3">
                <a asp-page="Upsert" class="btn btn-primary mr-2"><i class="fas fa-plus"></i>&nbsp;Create New</a>
                <a asp-page="/Admin/Dashboard" class="btn btn-success text-center float-right">Back to Admin Portal</a>
            </div>
        </div>

        <br /><br />
        <table id="DT_load" class="table pb-3 table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Lot</th>
                    <th>Status</th>
                    <th>Issued</th>
                    <th>Returned</th>
                    <th>Paid Amount</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
}
else
{
    <div>
        <h1 class="m-3">You must be logged in as an Admin to view this page.</h1>
    </div>
}

@section Scripts{
    <script src="~/js/KeyHistory.js"></script>
}