@page
@model Sunridge.Pages.LostAndFound.IndexModel
@using Sunridge.Utility
@{
    ViewData["Title"] = "Index";
}

<h2>Lost And Found</h2>

<div class="row">
    @foreach (var item in Model.LostAndFoundItemList)
    {
        <div class="col-lg-3 col-xl-3 col-md-6 pb-4">
            <div class="card" border-radius:5px">
                <img src="@item.Image" class="card-img-top p-2 rounded" />
                <h3>@Html.Raw(item.Description)</h3>
            </div>
        </div>
    }
</div>

