@page
@model Sunridge.Pages.Admin.Photos.UpsertModel
@using Sunridge.Utility;

@{
    ViewData["Title"] = "Upsert";
}

@if (User.IsInRole(SD.AdminRole) || User.IsInRole(SD.OwnerRole))
{
    <div class="border backgroundWhite container mt-5 pt-3 pb-3">
        <form method="post" asp-action="Upsert" enctype="multipart/form-data">
            <h2 class="text-primary">Photo</h2>
            <hr />

            <div class="row pl-2">
                <div class="col-8 pt-3">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="PhotosObj.Photo.Title"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="PhotosObj.Photo.Title" id="txtTitle"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="PhotosObj.Photo.Year"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="PhotosObj.Photo.Year" id="txtYear" value="@DateTime.Now.ToString("yyyy")"></input>
                        </div>
                    </div>

                    @if (Model.PhotosObj.Photo.Id != 0)
                    {
                        <input type="hidden" asp-for="PhotosObj.Photo.Id" />
                    }

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label asp-for="PhotosObj.Photo.Category"></label>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.PhotosObj.Photo.Category, Model.PhotosObj.Categories, "- Please select a Category", new { @class = "form-control txtCategory" })
                            <span class="text-danger" asp-validation-for="PhotosObj.Photo.Category"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="PhotosObj.Photo.Image"></label>
                        </div>
                        <div class="col-9">
                            <input type="file" class="form-control" name="files" id="files"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            @if (Model.PhotosObj.Photo.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary form-control theButton">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control theButton">Create</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <a asp-page="./Index" type="submit" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>
                </div>
                @if (Model.PhotosObj.Photo.Image != null)
                {
                    <div class="col-md-3 p-2" id="parent">
                        <h4>Current Saved Image</h4>
                        <img src="@Model.PhotosObj.Photo.Image" id="thumbnail" width="100%" style="border-radius:5px;" />
                    </div>
                }
            </div>
        </form>
    </div>
}
else
{
    <h1>You must be logged in to view this page.</h1>
}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>

    $('.theButton').click(function () { 

        if (!$('#files').val() || !$('#txtTitle').val() || ($('.txtCategory').val() != "Summer" && $('.txtCategory').val() != "Winter" && $('.txtCategory').val() != "People")) {
            event.preventDefault();
        }

    });

    $('.txtCategory').change(function () {
        console.log($('.txtCategory').val());
    });

</script>