@page
@model Sunridge.Pages.Admin.Classifieds.IndexModel
@using Sunridge.Utility
@{
    ViewData["Title"] = "Classifieds Index";
}
@if (User.IsInRole(SD.AdminRole) || User.IsInRole(SD.OwnerRole))
{
    <div class="border backgroundWhite container mt-5 pt-3 pb-3">

        <div class="row">
            <div class="col-md-6">
                <h2 class="text-primary">Admin Classified List</h2>
            </div>
            <div class="col-md-6">
                <a asp-page="/Admin/Classifieds/Upsert" class="btn btn-primary btn-sm mr-3">Add New Classified</a>
                <a asp-page="/Admin/Classifieds/Services/Index" class="btn btn-primary btn-sm">Manage Services</a>
                <a asp-page="/Admin/Dashboard" class="btn btn-success text-center float-right">Back to Admin Portal</a>
            </div>
        </div>
        <div class="table-responsive-sm">

            <table id="DT_Load" class="table pb-3 table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}
else
{
    <div>
        <h1 class="m-3">You must be logged in to view this page.</h1>
    </div>
}
@section Scripts {
    <script src="~/js/adminClassifiedIndex.js"></script>
}
